{% extends '_layouts/cp' %}

{% set title = 'Art Vandelay' %}

{% set crumbs = [
  { label: "Settings"|t, url: url('settings') },
  { label: "Plugins"|t, url: url('settings/plugins') }
] %}

{% includeJsResource('artvandelay/js/default.js') %}

{% block content %}

  {% import '_includes/forms' as forms %}

  <div class="grid">

    <div class="item">

      <form method="POST" accept-charset="UTF-8" data-saveshortcut>

        <input type="hidden" name="action" value="artVandelay/import">

        <h2>Importer</h2>

        {{ forms.textareaField({
          label: 'Data',
          instructions: 'Paste the JSON data to import.',
          name: 'data',
          required: true,
          class: 'code',
          rows: 10,
        }) }}

        <div class="buttons">
          <input type="submit" class="btn submit" value="Import" />
        </div>

      </form>

      <hr>

      <form id="export" method="POST" accept-charset="UTF-8" data-saveshortcut>

        <input type="hidden" name="action" value="artVandelay/export">

        <h2>Exporter</h2>

        <div class="grid">
          <div class="item">
            {{ forms.checkboxSelectField({
              label: 'Fields',
              name: 'selectedGroups',
              options: groupOptions
            }) }}
          </div>

          <div class="item">
            {{ forms.checkboxSelectField({
              label: 'Sections',
              name: 'selectedEntryTypes',
              options: entryTypeOptions
            }) }}
          </div>
        </div>

        <div id="exportResultContainer" class="field hidden">
          <div class="heading">
            <label>Data</label>
          </div>
          <div class="instructions">
            <p>
              The output JSON data will appear here.
            </p>
          </div>
          <div class="input">
            <textarea id="exportResult" class="text code fullwidth" rows="15" readonly></textarea>
          </div>
        </div>

        <div class="buttons">
          <input type="submit" class="btn submit" value="Export" />
        </div>

      </form>

    </div>

    <div class="item" data-colspan="1">

      <img src="{{ resourceUrl('artvandelay/images/art-vandelay.jpg') }}"
        class="fullwidth">

      <p class="centeralign">
        Image by <a href="https://www.flickr.com/photos/lucaohman/3473867313/">Luca Ohman</a>
      </p>

    </div>

  </div>

{% endblock %}
