{% includeCssResource 'artvandelay/css/default.css' %}
{% includeJsResource 'artvandelay/js/default.js' %}

<div id="artvandelay">
	<div class="tool">
		<div class="section importer">
			<h2>Importer</h2>

            <div class="field">
                <div class="heading">
                    <label for="data">Data</label>
                    <div class="instructions">
                        <p>Paste the JSON data to import.</p>
                    </div>
                </div>

				<div class="input">
					<textarea class="text nicetext fullwidth" rows="6" cols="50" id="data" name="data"></textarea>
				</div>
			</div>

			<div class="buttons">
				<input type="button" class="btn submit" value="Import" />
			</div>
		</div>

		<div class="section exporter">
			<h2>Exporter</h2>
			
			<h3>Field groups</h3>

			{% for group in groups %}
				<div class="field checkbox">
					<label>
						<input type="checkbox" name="group[{{ group.id }}]" /> {{ group.name }}
					</label>
				</div>
			{% endfor %}

			<div class="buttons">
				<input type="button" class="btn submit" value="Export" />
			</div>
		</div>
	</div>

	<img src="{{ resourceUrl('artvandelay/images/art-vandelay.jpg') }}" alt=" Art Vandelay by Luca Ohman" />
</div>