{% extends '_layouts/cp' %}

{% set title = 'Art Vandelay' %}


{% set tabs = {
  export: { label: "Export"|t, url: url('artVandelay/export/fields') },
  import: { label: "Import"|t, url: url('artVandelay/import/1') },
} %}

{% set selectedTab = 'export' %}

{% set crumbs = [
  { label: "Settings"|t, url: url('settings') },
  { label: "Plugins"|t, url: url('settings/plugins') },
  { label: "Art Vandelay"|t, url: url('artVandelay') }
] %}

{% includeJsResource('artvandelay/js/default.js') %}
{% includeCssResource('artvandelay/css/default.css') %}

{% set sidebar %}
  <nav>
    <ul>
      <li><a href="{{ url('artVandelay/export/fields') }}">Fields</a></li>
      <li><a href="{{ url('artVandelay/export/sections') }}">Sections</a></li>
      <li><a href="{{ url('artVandelay/export/tabs') }}" class="sel">Tabs</a></li>
    </ul>
  </nav>
{% endset %}

{% block content %}

  {% import '_includes/forms' as forms %}

  <div class="grid">

    <div class="item">

      <form id="export" method="POST" accept-charset="UTF-8" data-saveshortcut>

        <input type="hidden" name="action" value="artVandelay/tabExport">

        <h2>Section Tab Exporter</h2>

        <div class="grid">

          <div class="item">
            {{ forms.radioGroupField({
              label: 'Select tab to export',
              name: 'selectedEntryTypeTabs',
              options: entryTypeTabOptions
            }) }}
          </div>
        </div>

        <div id="exportResultContainer" class="field hidden">
          <div class="heading">
            <label>Data</label>
          </div>
          <div class="instructions">
            <p>
              The output JSON data will appear here.
            </p>
          </div>
          <div class="input">
            <textarea id="exportResult" class="text code fullwidth" rows="15" readonly></textarea>
          </div>
        </div>

        <div class="buttons">
          <input type="submit" class="btn submit" value="Export" />
        </div>

      </form>

    </div>

    <div class="item" data-colspan="1">

      <img src="{{ resourceUrl('artvandelay/images/art-vandelay.jpg') }}"
        class="fullwidth">

      <p class="centeralign">
        Image by <a href="https://www.flickr.com/photos/lucaohman/3473867313/">Luca Ohman</a>
      </p>

    </div>

  </div>

{% endblock %}
